* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}

::after,
::before {
  box-sizing: inherit;
}

body {
  background-color: $primary-white-color;
  font-family: Roboto, sans-serif;
}

.flexbox {
  display: flex;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration-line: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

a:focus,
a:hover {
  color: $accent-color;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

li {
  list-style-type: none;
}
